{% load static %}
<style>
  .icon-holder{
    width: 4rem;
  }
  .icon{
    font-size: 2.5rem;
  }
  .bold-icon{
    color: black;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex flex-row-reverse me-5">
    <div class="navbar-nav">
      <a class="nav-link ms-auto icon-holder" href="{% url 'ssafy5-3:index' %}"><i class="fas fa-gamepad icon" id="icon-game"></i></a>
      <a class="nav-link ms-auto icon-holder" href="{% url 'ssafy5-3:collegues' %}"><i class="fas fa-address-book icon" id="icon-collegues"></i></a>
      <a class="nav-link p-2 icon-holder" href="{% url 'ssafy5-3:messages' %}"><i class="fas fa-envelope-open-text icon" id="icon-messages"></i></a>
    </div>
  </div>
</nav>