{% extends 'base.html' %}

{% block content %}
<div class="card p-4 my-3">
  <div class="row">
    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
      <img src="/media/profile/juan.png" alt="Juan" style="width: 180px;">
    </div>
    <div class="col-12 col-md-6">
      <div class="card-body">
        <h5 class="card-title fw-bolder mt-md-3">Juan</h5>
        <p class="card-text">SSAFY 최고 존잘 교수님</p>
        <p class="card-text"><small><a href="https://lab.ssafy.com/juan" class="text-dark text-decoration-none"><i class="fab fa-github"></i> Github | https://lab.ssafy.com/juan</a></a></small></p>
        <p><i class="fas fa-music" style="color:blueviolet; font-size:12px;"> 강소천 - 스승의 은혜</i></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {% for student in students %}
    <div class="col-4 col-lg-3 mb-3">
      <div class="card">
        <img src="/media/{{ student.profile_img }}" alt="{{ student.name }}" class="m-3" style="border-radius: 50%;">
        <div class="card-body pb-0">
          <h5 class="card-title text-center fw-bolder">{{ student.name }}</h5>
          <p class="card-text text-center">{{ student.nickname }}</p>
          <p><i class="fas fa-music" style="color:blueviolet; font-size:12px;"> {{ student.song }}</i></p>
        </div>
        <div class="card-footer">
          {% if student.git_url %}
            <div class="me-1"><a href="{{ student.git_url }}" class="text-dark text-decoration-none"><i class="fab fa-github"></i> Github</a></div>
          {% endif %}
          {% if student.insta_url %}
            <div class="me-1"><a href="{{ student.insta_url }}" class="text-dark text-decoration-none"><i class="fab fa-instagram"></i> Instagram</a></div>
          {% endif %}
          {% if student.email %}
            <div class="me-1"><i class="fas fa-envelope"></i> {{ student.email }}</div>
          {% endif %}
          {% if student.phone %}
            <div class="me-1"><i class="fas fa-mobile-alt"></i> {{ student.phone }}</div>
          {% endif %}
          
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}