{% extends 'base.html' %}

{% block content %}
{% comment %} 스타일 {% endcomment %}
<style>
    .big-text{
        font-size: 2rem;
    }
    .middle-text{
        font-size: 1.5rem;
    }
</style>

<div id="app">
{% comment %} 상단 우측 : 열 수 있는 메세지 개수를 표시하는 버튼 {% endcomment %}
<div class="d-flex flex-row-reverse my-3">
    <button type="button" class="btn" :class="{'btn-primary':remainedNum}" style="width: 20%;">
        열 수 있는 메세지 개수 <span class="badge bg-secondary" v-text="remainedNum"></span>
    </button>
</div>
{% comment %} 본문 : 메세지 내용 {% endcomment %}
<div class="row" data-masonry='{"percentPosition": true }'>
    <div class="col-6 col-lg-4 col-xl-3" v-for="(message, idx) in messages" :key="idx">
        <template v-if="message.isLocked">
            <!-- not opend message -->
            <div class="card text-white mb-3 bg-secondary" style="max-width: 20rem; cursor:pointer;" @click="openCard(idx)" >
            <div class="card-header">From. <i class="fas fa-user-lock"></i></div>
            <div class="card-body">
                <p class="card-text text-center"> <i class="fas fa-lock"></i> </p>
            </div>
        </template>
        <template v-else>
            <!-- opened message -->
            <div class="card mb-3" :class="[message.color, message.fontColor]" style="max-width: 20rem;">
            <div class="card-header">From. <span v-html="message.name"><i class="fas fa-user-lock"></i></span></div>
            <div class="card-body">
                <!-- 텍스트 길이에 따라 적용되는 스타일(글씨크기)가 달라진다. -->
                <template v-if="message.textSize===1">
                    <p class="card-text text-center" v-html="message.content"> </p>
                </template>
                <template v-else-if="message.textSize===2">
                    <p class="card-text text-center middle-text" v-html="message.content"> </p>
                </template>
                <template v-else>
                    <p class="card-text text-center big-text" v-html="message.content"> </p>
                </template>
            </div>
        </template>
        </div>
    </div>

</div>
</div>
<!-- CDN -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script>
    const BASE_URL = 'http://127.0.0.1:8000/ssafy5-3'
    const app = new Vue({
        el: "#app",
        data: {
            remainedNum: 0, // 열 수 있는 메세지 개수
            // 부트스트랩 Card 에 적용되는 배경 색상 리스트
            cardColors: [
                'bg-primary', 'bg-success', 'bg-warning', 'bg-danger', 'bg-dark', 'bg-info'
            ],
            // 부트스트랩 Card 에 적용되는 폰트 색상 리스트
            textColors: {
                'bg-primary': 'text-white', 
                'bg-success':'text-white', 
                'bg-warning':'text-dark', 
                'bg-danger':'text-white', 
                'bg-dark':'text-white', 
                'bg-info':'text-dark' 
            },
            // 값이 비어있을 때 default 출력할 icon
            name : '<i class="fas fa-user-lock"></i>',
            content : '<i class="fas fa-lock"></i>',
            // DB에서 가져온 Messages 데이터
            messages: null
        },
        methods: {
            // on click 시 호출되는 카드 열기 함수
            openCard :function(id){
                if (this.remainedNum > 0){
                    this.messages[id].color = _.sample(this.cardColors)
                    this.messages[id].fontColor = this.textColors[this.messages[id].color]
                    this.messages[id].isLocked = false
                    this.remainedNum -= 1
                    const pk = this.messages[id].id
                    axios({
                        method:'get',
                        url:BASE_URL +`/openmessage/${pk}/`,
                    })
                }
            },
        },
        created:function(){
            // load coins
            axios({
                method:'get',
                url: BASE_URL+'/coin/',
            }).then(response =>{
                this.remainedNum = response.data.coin
            }).catch(err => {
                console.log(err)
            })

            // load messages
            axios({
                method:'get',
                url:BASE_URL +'/loadmessages/',
            }).then(response =>{
                this.messages = _.shuffle(response.data.messages)
            }).catch(err => {
                console.log(err)
            })
            
        }
    })
</script>
{% endblock content %}