{% extends 'base.html' %}

{% block content %}
<div>
  <div class="col-11 row d-flex justify-content-center align-items-stretch" style="background-color: #E0E0E0">
    <div class="col-8 d-flex flex-column">
      <div class="d-flex justify-content-center row">
        <p class="col">1</p>
        <p class="col">2</p>
        <p class="col">3</p>
        <p class="col">4</p>
        <p class="col">5</p>
      </div>
      <div class="d-flex justify-content-center row">
        <p class="col">6</p>
        <p class="col">7</p>
        <p class="col">8</p>
        <p class="col">9</p>
        <p class="col">10</p>
      </div>
      <div class="d-flex justify-content-center row">
        <p class="col">11</p>
        <p class="col">12</p>
        <p class="col">13</p>
        <p class="col">14</p>
        <p class="col">15</p>
      </div>
      <div class="d-flex justify-content-center row">
        <p class="col">16</p>
        <p class="col">17</p>
        <p class="col">18</p>
        <p class="col">19</p>
        <p class="col">20</p>
      </div>
      <div class="d-flex justify-content-center row">
        <p class="col">21</p>
        <p class="col">22</p>
        <p class="col">23</p>
        <p class="col">something</p>
        <p class="col">something</p>
      </div>
    </div>
    <div class="col-3 d-flex align-items-stretch">
      <div class="col-12" style="background-color: #FFFFFF">
        <p>somthing</p>
      </div>
    </div>
    <img src="/../../../data/이미지/웹엑스.png" alt="">
  </div>
</div>

<script></script>
{% endblock %}