{% extends 'base.html' %}

{% block webex %}
<div class="d-flex justify-content-center align-items-center">
  <div class="col-11 row d-flex justify-content-around align-items-stretch p-0" style="background-color: #E0E0E0">
    <div class="col-12 d-flex justify-content-between align-items-center m-0 p-0">
      <div>
      </div>
      <div>
        <p class="text-center m-1"><img src="/media/webex/webex.png" style="width: 22px"> Cisco Webex Meetings</p>
      </div>
      <div>
        <p class="text-center m-1" style="font-size: 0.75rem">미팅 정보 | 연결됨</p>
      </div>
    </div>
    <hr class="m-0">
    {% comment %} 사람들 화면 {% endcomment %}
    <div class="col-9 d-flex flex-column p-1">
      {% comment %} 각 행 {% endcomment %}
      <div id="row1" class="firstrow d-flex justify-content-center row-1 row-cols-5 mt-5">
        <img src="/media/webex/juan.png" class="col p-0" style="width: 20%"></img>
        {% for student in row1 %}
          <img src="{{ student.webex_img }}" class="col p-0" style="width: 20%"></img>        
        {% endfor %}
      </div>
      <div id="row2" class="secondrow d-flex justify-content-center row-1 row-cols-5">
        {% for student in row2 %}
          <img src="{{ student.webex_img }}" class="col p-0" style="width: 20%"></img>        
        {% endfor %}
      </div>
      <div id="row3" class="thirdrow d-flex justify-content-center row-1 row-cols-5">
        {% for student in row3 %}
          <img src="{{ student.webex_img }}" class="col p-0" style="width: 20%"></img>        
        {% endfor %}
      </div>
      <div id="row4" class="forthrow d-flex justify-content-center row-1 row-cols-5">
        {% for student in row4 %}
          <img src="{{ student.webex_img }}" class="col p-0" style="width: 20%"></img>        
        {% endfor %}
      </div>
      <div id="row5" class="fifthrow d-flex justify-content-center row-1 row-cols-5 mb-5">
        <img src="{{ row5.webex_img }}" class="col p-0" style="width: 20%"></img>
        {% comment %} {% for student in absent_students %}
          <img src="{{ student.webex_img }}" class="col p-0" style="width: 20%"></img>        
        {% endfor %} {% endcomment %}
      </div>
    </div>
    {% comment %} 채팅창 {% endcomment %}
    <div class="col-3 flex-column p-0" style="background-color: #FFFFFF">
      <div class="d-flex justify-content-between">
        <span class="mx-2 my-1"><i class="fas fa-sort-down"></i>채팅</span>
        <span class="mx-2 my-1"><i class="fas fa-times"></i></span>
      </div>
      <ul id="chatting" class="p-0" style="height: 75%">
        <div class="mx-2" style="font-size: 0.9rem">서울_3반_이규정 : 오늘 점심 뭐 드셨나요?</div>
        <div class="mx-2" style="font-size: 0.9rem">서울_3반_이규정 : 오늘도 사람이 좀 부족하네요</div>
        <div class="mx-2" style="font-size: 0.9rem">서울_3반_이규정 : 교수님 지금 누가 없나요?</div>
      </ul>
      <hr class="m-0">

      <div class="col-12">
      {% comment %} 정답 입력창 {% endcomment %}
        <form id="answer" data-absents="{{ absent_students }}">
          {% comment %} <textarea placeholder="정답을 입력하세요." class="border-0"></textarea> {% endcomment %}
          <input type="text" col="2" size="40" placeholder="정답을 입력하세요." class="border-0" autofocus>
        </form>
      </div>

    </div>
    <hr class="m-0">
    {% comment %} 버튼 {% endcomment %}
    <div class="col-12 d-flex justify-content-between">
      {% comment %} 빈 공간 {% endcomment %}
      <div></div>
      {% comment %} 가운데 버튼 6개 {% endcomment %}
      <div>
        <button class="btn btn-light rounded-pill my-2 mx-1" style="font-size: 0.75rem"><i class="fas fa-microphone-slash"></i> 음소거 해제</button>
        <button class="btn btn-light rounded-pill my-2 mx-1" style="font-size: 0.75rem"><i class="fas fa-video-slash"></i> 비디오 시작</button>
        <button class="btn btn-light rounded-pill my-2 mx-1" style="font-size: 0.75rem"><i class="far fa-caret-square-up"></i> 공유</button>
        <button class="btn btn-light rounded-circle my-2 mx-1" style="font-size: 0.75rem"><i class="far fa-grin-wink"></i></button>
        <button class="btn btn-light rounded-circle my-2 mx-1" style="font-size: 0.75rem"><i class="fas fa-ellipsis-h"></i></button>
        <button class="btn btn-danger rounded-circle my-2 mx-1" style="font-size: 0.75rem"><i class="fas fa-times"></i></button>
      </div>
      {% comment %} 오른쪽 버튼 그룹 div 두번 감쌈 {% endcomment %}
      <div class="p-2">
        <div class="btn-group bg-light rounded-pill" role="group">
          <button class="btn btn-light rounded-pill px-2 m-0" style="font-size: 0.7rem"><i class="far fa-user"></i> 참가자</button>
          <button class="btn btn-light rounded-pill px-2 m-0" style="font-size: 0.7rem"><i class="far fa-comment-dots"></i> 채팅</button>
          <button class="btn btn-light rounded-pill px-2 m-0" style="font-size: 0.7rem"><i class="fas fa-ellipsis-h"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  form = document.querySelector('#answer')
  const nowAttended = []

  const nowAttendedId = []

  form.addEventListener('submit', event => {
    event.preventDefault()
    
    const sentence = event.target[0].value

    axios.get('http://127.0.0.1:8000/game/stage3/is_absent/')
    .then((response) => {
      const absents = response.data.absents
      for (absent in absents) {
        const absentId = absents[absent].id
        const absentName = absents[absent].name
        const absentWebexImg = absents[absent].webex_img
        const absentFlag = absents[absent].flag
        if (sentence.includes(absentName) && !nowAttended.includes(absentName)) {
          const row5 = document.querySelector('#row5')
          const webexImg = document.createElement('img')

          webexImg.setAttribute('class', 'col p-0')
          webexImg.setAttribute('style', 'width: 20%')
          webexImg.src = absentWebexImg
          console.log(webexImg)
          row5.append(webexImg)

          nowAttended.push(absentName)
          nowAttendedId.push(absentId)

        }
      }
      // 채팅 추가되는 부분
      const chatting = document.querySelector('#chatting')
      const chat = document.createElement('div')

      chat.setAttribute('class', 'mx-2')
      chat.setAttribute('style', 'font-size: 0.9rem')
      chat.innerText = 'juan : ' + sentence
      
      console.log(chat)
      chatting.append(chat)
    })

    event.target.reset()
  })
</script>
{% endblock %}