{% extends 'base.html' %}

{% block content %}
  <header>
  
  </header>

  <div class="row mt-3">
    <section class="col-8 col-lg-10 px-0">
      <div class="container">
        <div class="row row-cols-4 row-cols-lg-5">
          {% for card in cards %}
            <div class="col py-2">
              <form class="card-form" data-card-id="{{ card.pk }}">
                {% csrf_token %}
                <button id="isDisabled-{{ card.pk }}" class="card p-0">
                  {% if card.flip %}
                    <img id="card-{{ card.pk }}" src="/media/{{ card.card_img }}" class="card-img-top">
                  {% else %}
                    <img id="card-{{ card.pk }}" src="/media/card/stage2_card_back.png" class="card-img-top">
                  {% endif %}
                </button>
              </form>
            </div>
          {% endfor %}
          
        </div>
      </div>
    </section>

    <aside class="col-4 col-lg-2 px-0 d-inline-flex justify-content-end">
      <div class="row">
        <img class="p-0" src="/media/card/stage2_logo.png">
        <div class="progress px-0 my-3">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
        <div class="text-center">
          기억이 잘 나지 않을 때는, <br>
          밸런스 게임을 통해 <br>
          힌트를 얻을 수 있습니다!
        </div>
        <!-- <div class="d-grid gap-2">
          <button class="btn btn-primary" type="button">힌트빰</button>
        </div> -->
        
        <div class="container-fluid d-grid col-6 col-lg-8 mx-auto">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            힌트빰
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </aside>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var buttons = document.querySelectorAll('.btn')
    buttons.forEach(function (button) {
      var button = new bootstrap.Button(button)
      button.toggle()
    })

  </script>
  <script>
    const back_url = "/media/card/stage2_card_back.png"
    const forms = document.querySelectorAll('.card-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    
    forms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        
        const cardId = event.target.dataset.cardId
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/game/stage2/${cardId}/`,
          headers: {'X-CSRFToken': csrftoken}
        })
        .then(response => {
          const student_id = response.data.student_id
          const prev_id = response.data.prev_id
          const flipped = response.data.flipped
          const card_url = response.data.card_url
          const completed = response.data.completed

          const clickCard = document.querySelector(`#card-${cardId}`)
          const disableCard = document.querySelector(`#isDisabled-${cardId}`)
          if (flipped) {
            clickCard.src = card_url
            disableCard.disabled = true
          }else{
            clickCard.src = back_url
            disableCard.disabled = false
          }

          if (completed){
            alert('Finish')
            return
          }

          if (prev_id != 0){
            if (prev_id != cardId) {
              setTimeout(function() {
                const prev_Card = document.querySelector(`#card-${prev_id}`)
                const prev_disableCard = document.querySelector(`#isDisabled-${prev_id}`)
                prev_Card.src = back_url
                clickCard.src = back_url
                prev_disableCard.disabled = false
                disableCard.disabled = false    
              }, 500)      
            }
          }
        })
      })
    })

    // const back_url = "/media/card/stage2_card_back.png"
    // let clicked_cnt = 0; // 클릭한 카드 수
    // let clicked_url; // 클릭한 url
    // let clicked_id; // 클릭한 id



    // setTimeout( function() {
      
    // }, 2000)

    // function flipCard(student_id, card_pk) {
    //   // 해당 카드 뒤집기
    //   const cardImg = document.getElementById(card_pk)
    //   clicked_cnt++

    //   if (cardImg.src.slice(21) == back_url) {
    //     cardImg.src = clicked_url
    //   }else{
    //     clicked_url = cardImg.src.slice(21)
    //     clicked_id = student_id
    //     cardImg.src = back_url
    //   }
    //   if(clicked_cnt == 1){
        
    //   }
    //   else if (clicked_cnt == 2){
    //     // 두 개가 같으면 
    //     if (clicked_id == student_id) {
           
    //     }
    //     // 두 개가 다르면 원상복귀
    //     else {

    //     }

    //     clicked_cnt = 0
    //     clicked_url = ""
    //     clicked_id = 0
    //   }

      // // 확인
      // if (clicked_id == 0){
      //   clicked_id = student_id
      // }else{
      //   if (clicked_id == student_id){
      //     matchCard()
      //   }else{
      //     clicked_id = 0
      //   }
      // }
    // }
  </script>
{% endblock content %}