{% extends 'base.html' %}
{% load static %}

{% block content %}
  <form name="sendCoin" action="{% url 'ssafy5-3:insertCoin' 11 %}" method="POST">
    {% csrf_token %}
    <input id="hidden-form" type="hidden" >
  </form>

  <div class="row mt-3">
    <section class="col-12 col-lg-10 px-0">
      <div class="container">
        <div class="row row-cols-4 row-cols-lg-5">
          {% for card in cards %}
            <div class="col py-2">
              <form class="card-form" data-card-id="{{ card.pk }}">
                {% csrf_token %}
                <button id="isDisabled-{{ card.pk }}" class="card p-0">
                  {% if card.flip %}
                    <img id="card-{{ card.pk }}" src="{{ card.card_img }}" class="card-img-top">
                  {% else %}
                    <img id="card-{{ card.pk }}" src="{% static 'game/stage2_card_back.png' %}" class="card-img-top">
                  {% endif %}
                </button>
              </form>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <aside class="col-4 offset-4 col-lg-2 offset-lg-0 px-0 d-inline-flex justify-content-end align-items-start">
      <div class="row">
        <img class="p-0" src="{% static 'game/stage2_logo.png' %}">
        <div class="progress px-0 my-3">
          <div id="card_progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
        <div class="text-center">
          기억이 잘 나지 않을 때는, <br>
          밸런스 게임을 통해 <br>
          힌트를 얻을 수 있습니다!
        </div>
        
        <div id="app">
          <div v-if="clicked">
            <button v-text="btn_msg" @click="cancleGame" class="btn btn-secondary d-grid mx-auto my-3">
            </button>
            <div class="row">
              <h5 v-text="title" class="text-center"></h5>
                <div class="card border-white">
                  <button v-text="question1" @click="clickFirst" class="btn btn-outline-success text-center"></button>
                </div>
                <h5 class="text-center m-1">VS</h5>
                <div class="card border-white">
                  <button v-text="question2" @click="clickSecond" class="btn btn-outline-danger text-center"></button>
                </div>
            </div>
          </div>
          <div v-else>
            <button v-text="btn_msg" @click="balanceGame" class="btn btn-primary d-grid mx-auto my-3">
            </button>
          </div>
        </div>
      </div>
    </aside>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script>
    const back_url = "/static/game/stage2_card_back.png"
    const forms = document.querySelectorAll('.card-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    function randAngle() {
      return _.sample([0, 90, 180, 270])
    }

    forms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        
        const cardId = event.target.dataset.cardId
        axios({
          method: 'post',
          url: `http://3.34.129.176:8000/game/stage2/${cardId}/`,
          headers: {'X-CSRFToken': csrftoken}
        })
        .then(response => {
          const student_id = response.data.student_id
          const prev_id = response.data.prev_id
          const flipped = response.data.flipped
          const card_url = response.data.card_url
          const completed = response.data.completed
          const current_progress = response.data.current_progress

          const clickCard = document.querySelector(`#card-${cardId}`)
          const disableCard = document.querySelector(`#isDisabled-${cardId}`)

          if (flipped) {
            const angle = randAngle()
            clickCard.src = card_url
            disableCard.disabled = true
            clickCard.setAttribute('style', `transform: rotate(${angle}deg);`)
          }else{
            clickCard.src = back_url
            disableCard.disabled = false
            clickCard.setAttribute('style', 'transform: none;')
          }
          

          if (prev_id != 0){
            if (prev_id != cardId) {
              setTimeout(function() {
                const prev_Card = document.querySelector(`#card-${prev_id}`)
                const prev_disableCard = document.querySelector(`#isDisabled-${prev_id}`)
                prev_Card.src = back_url
                clickCard.src = back_url
                prev_disableCard.disabled = false
                disableCard.disabled = false
                clickCard.setAttribute('style', 'transform: none;')
                prev_Card.setAttribute('style', 'transform: none;')
              }, 500)  
            }else{
              const cardProgress = document.querySelector('#card_progress')
              cardProgress.setAttribute('style', `width: ${current_progress}%`)
            }
          }

          if (completed){
            axios({
              method: 'post',
              url: `http://3.34.129.176:8000/game/stage2/end/`,
              headers: {'X-CSRFToken': csrftoken}
            })
            .then(response => {
              setTimeout(function () {
                if(!alert("STAGE 2 완료!!")) {
                  if (document.getElementById("hidden-form").value == "") {
                    document.sendCoin.submit();
                  }
                }
              }, 1000)
            })
          }
        })
      })
    })

    const app = new Vue({
      el: '#app',
      data: {
        clicked: false,
        hint: 10,
        game_pk: 1,
        title: '', 
        question1: '',
        question2: '',
        btn_msg: '',
      },
      methods: {
        balanceGame: function () {
          if (this.hint == 0) return
          this.clicked = true
          this.btn_msg = '힌트포기'

          axios({
            method: 'post',
            url: `http://3.34.129.176:8000/game/stage2/balance/${this.game_pk}/`,
            headers: {'X-CSRFToken': csrftoken},
          })
          .then ( response => {
            this.title = response.data.title
            this.question1 = response.data.question1
            this.question2 = response.data.question2
          })
        },
        cancleGame: function () {
          this.clicked = false
          this.btn_msg = `힌트빰 ${this.hint}`
        },

        getHint: function(){
          axios.get('http://3.34.129.176:8000/game/stage2/get_hint/1/')
          .then (response => {
            forms.forEach(form => {
              const cardId = form.dataset.cardId
              axios({
                method: 'post',
                url: `http://3.34.129.176:8000/game/stage2/get_hint/${cardId}/`,
                headers: {'X-CSRFToken': csrftoken},
              })
              .then (response => {
                const card_url = response.data.card_url
                const clickCard = document.querySelector(`#card-${cardId}`)
                clickCard.src = card_url
              })
            })
            return response
          })
          .then (response => {
            setTimeout(function() {
              forms.forEach(form => {
                const cardId = form.dataset.cardId
                axios({
                  method: 'post',
                  url: `http://3.34.129.176:8000/game/stage2/get_hint/${cardId}/`,
                  headers: {'X-CSRFToken': csrftoken},
                })
                .then (response => {
                  const flipped = response.data.flipped

                  if (!flipped) {
                    const clickCard = document.querySelector(`#card-${cardId}`)
                    clickCard.src = back_url
                  }
                })
              })
            }, 1500)      
          })
        },
        clickFirst: function () {
          axios({
            method: 'post',
            url: `http://3.34.129.176:8000/game/stage2/balance/${this.game_pk}/1/`,
            headers: {'X-CSRFToken': csrftoken},
          })
          .then ( response => {
            this.clicked = false
            this.hint--
            this.game_pk++
            this.btn_msg = `힌트빰 ${this.hint}`
            this.getHint()
          })
        },
        clickSecond: function () {
          axios({
            method: 'post',
            url: `http://3.34.129.176:8000/game/stage2/balance/${this.game_pk}/2/`,
            headers: {'X-CSRFToken': csrftoken},
          })
          .then ( response => {
            this.clicked = false
            this.hint--
            this.game_pk++
            this.btn_msg = `힌트빰 ${this.hint}`
            this.getHint()
          })
        },
      },
      created: function () {
        this.getHint()
        this.cancleGame()
      }
    })
  </script>
{% endblock content %}